<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }} - hns.github.com</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen">
</head>

<body>
<div class="wrap">
  <div class="pad">
    <div class="header">
      <div class="toplinks body"><a href="/">Home</a> &bull; <a href="/about.html">About</a></div>
      <div class="byline body">
A weblog about<br>
server-side JavaScript
on the JVM<br> by Hannes Wallnöfer
      </div>
      <div>
<a href="/"><img src="/images/rhinobeetle.jpg" width="200" height="120" class="logo" 
alt="Rhino Beetle"></a>
      </div>
    </div>

    <div class="body">

{{ content }}

    </div>
  </div>
</div>
</body>
</html>
